.pcool{
    text-align: center;
}
.white{
color:aliceblue;
}
.black{
    color:#000;
}
body{
    background: #000;
    padding: 15%;
    padding-top: 2%;
    
  } 
  
  .h{
    color: lime; 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }
  

  
  .h a{
    color: lime;
    text-decoration: none;
    
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }
  .divcool{
      background-color: gray;
      border: double;
  }
  .store{
    background-image: url("https://cdn.pixabay.com/photo/2017/07/09/15/52/frame-2487298_960_720.png");
    background-size:cover;
    background-color: gray;
    align-items: center;
    text-align: center;
  }
  .lvl{
      font-size:arial;
      color: green;
      font-weight: bold;
  }
  .pbold{
      font-weight:bold;
  }